
.idea/.gitignore.txt
.idea/inspectionProfiles/profiles_settings.xml
.idea/LIBRERIAS-CNYT-master.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/libreriaComplejos.cpython-38.pyc
documentacion1.md
documentacion2.md
.gitattributes
documentacion3.md
Libreria Matrices y Vectores/README.md
Sistema Clasico y Cuantico/README.md
Libreria Complejos/README.md
.gitattributes
.gitattributes
